.form-client-box {
  margin: 10px;
  padding: 20px;
  border: medium solid black;
  border-radius: 10px;
}

.title-form-client {
  margin-bottom: 50px;
}

.form-client-box input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
checkbox {
  border: thin solid #dedede;
  border-radius: 1.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: lightgoldenrodyellow;
}
